
.c-roadmap.page {
	width: 896px;
	margin: auto;
}

h1.c-roadmap {
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 18pt;
}

.c-roadmap.columns {
  display: flex;
}
.c-roadmap.left {
	width: 27%;
	flex-grow: 1;
	margin: 0 8px 8px 0;
}
.c-roadmap.middle {
	width: 40%;
	flex-grow: 1;
	margin: 0 0 8px 8px;
}
.c-roadmap.right {
	width: 33%;
	flex-grow: 1;
	margin: 0 0 8px 8px;
}

ul.c-roadmap {
	margin: 0;
}

h3.c-roadmap {
	margin-top: 16px;
	padding-top: 8px;
	margin-bottom: 0;
	margin-right: 16px;
	font-size: 14pt;
}