.valefire p {
	margin: 8px 0;
}

.valefire .notyet {
	opacity: .3;
}

.valefire .inline-code {
	border: 1px solid #FFC080;
	background-color: #FFE0C0;
	font-family: Roboto Mono, Courier New, Courier;
	padding: 0 4px;
	white-space: nowrap;
	font-size: 10pt;
}

.valefire .incomplete {
	color: #862424;
}