.m-tutorial .page {
  width: 896px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
}

.m-tutorial .left {
  overflow: auto;
  width: 632px;
}

.m-tutorial .main {
  padding-top: 16px;
  padding-right: 16px;
  overflow: auto;
}

.m-tutorial .margin {
  position: absolute;
  width: 264px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #F0F0F0;
}

.m-tutorial .content {
  margin-bottom: 16px;
}

.m-tutorial .input {
  width: 100%;
  box-sizing: border-box;
  color: #f8f8f2;
  background-color: #506090;
  padding: 0.5em;
  white-space: pre;
  font-size: 9.5pt;
  font-family: Roboto Mono, Courier New, Courier;
  line-height: 12pt;
  overflow: auto;
}

.m-tutorial .output {
  width: 100%;
  box-sizing: border-box;
  color: #f8f8f2;
  background-color: #505050;
  padding: 0.5em;
  white-space: pre;
  font-size: 9.5pt;
  font-family: Roboto Mono, Courier New, Courier;
  line-height: 12pt;
  overflow: auto;
}

.m-tutorial .splitter {
  display: flex;
}

.m-tutorial.half {
  flex-grow: 1;
  width: calc(50% - 8px);
}
.m-tutorial.half + .m-tutorial.half {
  margin-left: 16px;
}

.m-tutorial.width60 {
  flex-grow: 1;
  width: calc(60% - 8px);
}
.m-tutorial.width40 {
  flex-grow: 1;
  width: calc(40% - 8px);
}
.m-tutorial.width60 + .m-tutorial.width40 {
  margin-left: 16px;
}
.m-tutorial.width40 + .m-tutorial.width60 {
  margin-left: 16px;
}


.m-tutorial.intro-container {
  width: 616px;
}
.m-tutorial.toc-container {
  width: 264px;
  background-color: white;
  position: absolute;
  box-sizing: border-box;
}

.m-tutorial.notes-header {
  opacity: .5;
  font-style: italic;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 4px;
}




.m-tutorial p {
  margin: 0 0 16px 0;
}

.m-tutorial .cozy {
  margin-bottom: 8px;
}

ul.m-tutorial {
  margin: 8px 0;
}

li.m-tutorial {
  margin-bottom: 0;
}

li.m-tutorial + li.m-tutorial {
  margin-top: 8px;
}

.m-tutorial.end {
  margin-bottom: 0;
}

.m-tutorial h1 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18pt;
}

.m-tutorial h2 {
  border-top: 2px solid #E0E0E0;
  margin-top: 16px;
  padding-top: 8px;
  margin-bottom: 16px;
  font-size: 16pt;
}

.m-tutorial.line {
  border-top: 2px solid #E0E0E0;
  margin: 16px 0;
}

.m-tutorial h3 {
  border-top: 2px solid #E0E0E0;
  margin-top: 16px;
  padding-top: 8px;
  margin-bottom: 16px;
  margin-right: 16px;
  font-size: 14pt;
}

.m-tutorial.noline {
  border-top-width: 0;
  margin-top: 0;
  padding-top: 0;
}

.m-tutorial.comment {
  color: #A0A0A0;
}